body{
	background-image:url("images/BackGround.jpg");
}

#container{
	width:1080px;
	height:100px;
	min-height:500px;
	background-color:#ffffff;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#balance{
	width:500px;
	height:500px;
	border-radius: 250px;
	background-image:url(images/Progressbar.jpg);
	float:left;
	bottom:0px;
	top:540px;
}

#expenses{
	float:left;
	width:289px;
	height:100%;
}

#income{
	float:right;
	width:289px;
	height:100%;
}

.expense{
	float:left;
	width:90%;
	height:5%;
	margin:5%;
}

.income{
	float:right;
	width:90%;
	height:5%;
	margin:5%;
	background-color:#339966;
}

.expense h4{
	margin:0;
	padding-left:0;
	text-align:center;
	
}

.ui-progressbar.ui-widget-content {
     background: red;
	 border:none;
 }
 
.label {
    position: relative;
	font-weight:bold;
	background:none;
    display:block;
	left:50%;
	margin-left:-5%;
    margin-top:-14px;
	top:18px;
  }

.ui-progressbar .ui-progressbar-value {
    background-image: url(images/Progressbar.jpg);
	
}